:root {
    --bg-color: #1F2937
}

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-top: 4rem;
}

.board {
    margin-top: 6rem;
    position: relative;
}

.square-container {
    display: grid;
    z-index: 100;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.square {
    height: 150px;
    width: 150px;
    margin: 5px;
}


#square-1 {
    background-color: #dd0000;
    border-top-left-radius: 150px;
}

#square-2 {
    background-color: rgb(0, 0, 255);
    border-top-right-radius: 150px;

}

#square-3 {
    background-color: #e9e100;
    border-bottom-left-radius: 150px;
}

#square-4 {
    background-color: green;
    border-bottom-right-radius: 150px;
}

.counter-container {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: auto;
    top: 28%;
    left: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    border-radius: 50%;
}

.counter {
    width: 150px;
    height: 150px;
    background-color: var(--bg-color);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 150;
    font-size: 40px;
    font-weight: 600;
}

.btn {
    background-color: white;
    margin-top: 4rem;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
    border: none;
    color: black;
    font-weight: ;
    background-color: #FB923C;
    cursor: pointer;
    letter-spacing: 0.03em;
}

.btn:hover {
    background-color: #F97316;
}

.btn:focus {
    outline: none;
}



